
/*----------------------------[CORPO]-----------------------------*/

body{
    background-color: rgb(253, 251, 251);

}

.titulos{
    font-size: 30px;
    font-family: 'Alkatra', cursive;
    font-family: 'Raleway', sans-serif;
    padding: 5px;

}

/*----------------------------[HEADER]-----------------------------*/

#cabecalho{
    position: fixed;
    top: 0;
    width: 100%;
    background-color: green;
    margin: 0 0 20px 0;    
    padding: 20px;
    font-family: 'Alkatra', cursive;
    font-family: 'Raleway', sans-serif;
    height: 50px;

}

#titulo{
    text-align: center;
    text-decoration: none;
    font-size: 300%;
    color: rgb(253, 251, 251);

}
/*----------------------------[NAVEGAÇÃO]-----------------------------*/

#navegation{
    width: 100%;
    background-color: rgb(0, 99, 0);
    position: fixed;
    top: 88px;
    padding: 5px;
    text-align: center;
    
}

.buttonsnavegationcontent{
    text-decoration: none;
    margin: 0 20px 0 20px;
    text-align: center;
    color: rgb(253, 251, 251);
}

.buttonsnavegationcontent:hover{
    text-decoration: underline;

}
/*----------------------------[MAIN]-----------------------------*/

#conteudoPrincipal{
    width: 60%;
    text-align: center;
    float: left;
}

/*----------------------------[LISTA - LIÇÕES APRENDIDAS]-----------------------------*/

#licoes{
    width: 100%;
    display: flex;
    padding: 5%;
}

.licoesAprendidas{
    width: 50%;
    padding: 5%;
    border: 2px solid rgb(0, 99, 0);
    border-radius: 2%;
    box-shadow: 2px 2px 4px rgb(0, 0, 0);

}
#licoes_aprendidas{
    list-style: decimal;
}
#licoes_aprendidas li:hover{
    background-color: rgb(0, 99, 0);
}



.licoesAlmejaveis{
    width: 50%;
    padding: 5%;
    border: 2px solid rgb(0, 99, 0);
    border-radius: 2%;
    margin-left: 2px;
    box-shadow: 2px 2px 4px rgb(0, 0, 0);
}
#licoes_a_aprender{
    list-style-type: disc;
}
#licoes_a_aprender li:hover{
    background-color: rgb(0, 99, 0);
}

/*----------------------------[LISTA - LIÇÕES APRENDIDAS]-----------------------------*/







#firstSection{
    margin-top: 170px;
}

#minha_foto{
    width: 200px;
}


